body {
  margin: 0;
  padding: 0 0.6em 0 0.6em;
  font: 13px/1.5 "Helvetica Neue", Helvetica, "Arial Unicode", Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
  background: #fefefe;
  color: #333;
  text-rendering: optimizeLegibility;
}

table {
  border: none;
  border-spacing: 0;
}

th {
  font-weight: normal;
  text-align: left;
}

form {
  margin: 0;
  padding: 0;
}

label, input[type=checkbox] {
  cursor: pointer;
}

table {
  box-sizing: border-box;
  width: 100%;
}

th, td {
  display: block;
}

th {
  padding: 4px 0 0 3px;
  font-size: 80%;
  color: #047BFF;
}

input[type=text] {
  font-size: 120%;
}

label {
  font-size: 140%;
}

input[type=text], textarea {
  box-sizing: border-box;
  width: 490px;
  padding: 10px 7px;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  border-radius: 2px;
  box-shadow: 0 1px 1px #ddf;
  transition: border-color 0.1s ease;
}

input[type=text]:hover, textarea:hover {
  border-color: #bbb;
}

input[type=text]:hover, input[type=text]:focus, textarea:hover, textarea:focus {
  border-color: #ccc;
}

textarea {
  height: 125px;
  text-indent: 1.5em;
}

input[type=checkbox] {
  margin: 0 5px 0 10px;
  -webkit-transform: scale(1.6, 1.6);
  vertical-align: 20%;
}

@media only screen and (max-width: 480px) {
  table, input[type=text], textarea {
    max-width: 305px;
  }
}

#suggested {
  margin: 0 0 0.8em;
}

#suggested button {
  padding: 3px 15px;
  background: #777;
  border: none;
  border-radius: 500px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

#suggested button:hover {
  background-color: #4ad;
}

#modifiers label {
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  font-size: 110%;
  padding: 3px 10px 3px 8px;
  text-transform: capitalize;
}

#submit {
  float: right;
  margin: 1em 0.2em;
  padding: 0.8em;
  -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
  background-color: #ba2323;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(44,160,202)),
    color-stop(1, rgb(62,184,229))
  );
  border: solid 1px #186f8f;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 10px 0 0 10px;
  padding: 10px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
}

#submit::before {
  -webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
  background-color: #ccd0d5;
  border-radius: 5px;
  content: "";
  display: block;
  height: 100%;
  left: -8px;
  padding: 8px;
  position: absolute;
  top: -8px;
  width: 100%;
  z-index: -1;
}

#submit:hover {
  text-shadow: 1px 1px 3px #889;
}

#submit:active {
  -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(62,184,229)),
    color-stop(1, rgb(44,160,202))
    );
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  top: 1px;
}

.success {
  color: green;
  -webkit-transform: scale(1.1, 1.1);
}

footer {
  margin: 2em 0 1em;
  padding-top: 1em;
  border-top: 2px dotted #ddd;
}

.error {
  color: red;
}

.login {
  color: blue;
}

#logout {
  float: right;
}

.alert {
  margin-left: 20px;
  color: #333;
  background: #ced;
  float: left;
  padding: 3px;
  padding-top: 1px;
  width: 300px;
  border: 1px solid #acc;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

section, footer, header {
  display: block;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

a {
  text-decoration: none;
}

a.suggested_tag {
  text-decoration: none;
}

a.navlink {
  text-decoration: none;
}

.count {
  color: #aaa;
}

.when {
  color: #999;
}

.unread {
  color: #b41;
}

a.unread {
  color: #b41;
}

a.bookmark_title {
  font-size: 120%;
}

.disabled {
  color: #bbb;
}
