html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0 0.8em 0 0.8em;
  font: 13px/1.5 "Helvetica Neue", Helvetica, "Arial Unicode", Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
  background: #fdfdfd;
  color: #333;
  text-rendering: optimizeLegibility;
}

section, footer, header {
  display: block;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #00f;
}

table {
  border: none;
  border-spacing: 0;
}

th {
  font-weight: normal;
  text-align: left;
}

form {
  margin: 0;
  padding: 0;
}

label, input[type=checkbox] {
  cursor: pointer;
}

table {
  box-sizing: border-box;
  width: 100%;
}

th, td {
  display: block;
}

th {
  padding: 4px 0 0 3px;
  font-size: 80%;
  color: #047BFF;
}

input[type=text] {
  font-size: 120%;
}

label {
  font-size: 140%;
}

input[type=text], textarea {
  box-sizing: border-box;
  width: 480px;
  padding: 10px 7px;
  border: 1px solid #c8c8c8;
  border-bottom-color: #bbb;
  border-radius: 2px;
  box-shadow: 0 1px 4px #ddf;
  background: #fff;
  -webkit-appearance: none;
  transition: border-color 0.1s ease;
}

input[type=text]:hover, textarea:hover {
  border-color: #aaa;
}

input[type=text]:focus, textarea:focus {
  border-color: #ccc;
}

textarea {
  height: 125px;
  text-indent: 1.5em;
}

@media only screen and (max-width: 480px) {
  table, input[type=text], textarea {
    max-width: 300px;
    max-height: 90px;
  }
}

#suggested {
  margin: 0 0 0.8em;
}

#suggested button {
  padding: 3px 13px 4px;
  border: none;
  border-radius: 500px;
  background: #778;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  cursor: pointer;
}

#suggested button:hover {
  background-color: #4ad;
}

#modifiers {
  margin: 1em 0;
}

#modifiers label {
  font-size: 110%;
  margin: 10px 15px 10px 0;
  padding: 10px 14px 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  text-transform: capitalize;
}

#modifiers label:hover {
  border-color: #aaa;
}

input[type=checkbox] {
  margin: 0 5px 0 10px;
  -webkit-transform: scale(1.5, 1.5);
  vertical-align: 5%;
}

#bookmark-save {
  text-align: right;
}

#submit {
  min-width: 177px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: inset 0 0 13px #48aadf;
  -webkit-transform: perspective(1200);
  transition: -webkit-transform 1s ease, text-shadow 0.2s linear;
}

#submit[disabled] {
  box-shadow: none;
}

button#submit.success {
  background-color: #4aca76;
  box-shadow: none;
  text-shadow: 1px 1px 1px #2a9a56;
  -webkit-animation: pop 0.3s ease 0.5s;
}

button#submit.fail {
  background-color: #FF6868;
  box-shadow: none;
  -webkit-animation: non 0.8s 0.3s 2 ease;
}

#bookmark-status {
  margin: 0 0 -1em;
  padding: 3px 4px 0 0;
  font-size: 12px;
  text-align: right;
  color: #aac;
}

footer {
  margin: 3em 0 1em;
  padding: 1em 0.6em 0;
  border-top: 2px dotted #ddd;
}

#logout {
  margin: -0.6em 0 0;
  float: right;
}

#logout input {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background: #e3e3e3;
  -webkit-appearance: none;
}

@-webkit-keyframes pop {
  0% { -webkit-transform: scale(0.98); }
  50% { -webkit-transform: scale(1.05); }
  100% { -webkit-transform: scale(1.0); }
}

@-webkit-keyframes non {
  25% { -webkit-transform: translateX(-5px); }
  50% { -webkit-transform: translateX(0); }
  75% { -webkit-transform: translateX(5px); }
  100% { -webkit-transform: translateX(0); }
}