.pincushion-tag-select__value-container {
  padding: 2px 4px !important;
}

.pincushion-tag-select__multi-value {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  border-radius: 3px;
  background-color: #1b9dec;
  background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
  background-repeat: repeat-x;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
}

.pincushion-tag-select__multi-value__label {
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  padding: 2px 6px !important;
  font-size: 0.95em !important;
  border: 1px solid #0073bb;
  border-right: none;
  letter-spacing: 1px;
}

.pincushion-tag-select__multi-value__remove {
  display: inline-block;
  width: 0;
  padding: 0 !important;
  text-align: center;
  color: #fff;
  border: 1px solid #0073bb;
  border-width: 1px 1px 1px 0;
  border-radius: 0 3px 3px 0;
  transition: width 0.3s ease;
  cursor: pointer;
}

.pincushion-tag-select__multi-value:hover .pincushion-tag-select__multi-value__remove {
  width: 22px;
  padding: 0 2px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.pincushion-tag-select__multi-value__remove:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #fff !important;
}
